{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNQFC89');</script>
    <!-- End Google Tag Manager -->


    <title>Hipotemi.com - Hipoteca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="hipoteca, mejor credito hipotecario, mejor hipoteca">
    <meta name="description" content="Encuentra la mejor hipoteca en Hipotemi.com, nuestro comparador de créditos hipotecarios es gratis y te ayuda a simular créditos hipotecarios. Obtén la mejor hipoteca.">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">


    <link rel="shortcut icon" type="image/png" href="{% static 'credit/images/logo/icon_aqua.png' %}"/>


    <link rel="stylesheet" href="{% static 'home/css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/animate.css'%}">

    <link rel="stylesheet" href="{%static 'home/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/magnific-popup.css'%}">

    <link rel="stylesheet" href="{%static 'home/css/aos.css'%}">

    <link rel="stylesheet" href="{%static 'home/css/ionicons.min.css'%}">

    <link rel="stylesheet" href="{%static 'home/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/jquery.timepicker.css'%}">


    <link rel="stylesheet" href="{%static 'home/css/flaticon.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/icomoon.css'%}">
    <link rel="stylesheet" href="{%static 'home/css/style.css'%}">
  </head>
  {% block content %}

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNQFC89"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <!--<li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>-->
	          <!--<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>-->
	          <!--<li class="nav-item cta"><a href="" class="nav-link"><span></span></a></li>-->
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <div class="hero-wrap">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
          <div class="one-forth ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
          	<h1 class="mb-4"> Encuentra financiamiento para tu proyecto inmobiliario
              <strong class="typewrite" data-period="4000" data-type='[ "gratis", "24/7", "pagando menos intereses"]'>
                <span class="wrap"></span>
              </strong>
            </h1>
            <!--<p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Da click en el botón de abajo para conocer las opciones de créditos hipotecarios.</p>-->
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><button href=""  onclick="initBot.open()" class="btn btn-primary px-4 py-3">Comenzar ahora</button></p>
          </div>
          <div class="one-half align-self-md-end align-self-sm-center">
          	<div class="slider-carousel owl-carousel">
          		<div class="item">
			          <img src="{% static 'home/images/casas_1.jpg' %}" class="img-fluid img"alt="">
		          </div>
		          <div class="item">
			          <img src="{% static 'home/images/casas_2.jpg' %}" class="img-fluid img"alt="">
		          </div>
		          <!--<div class="item">-->
			          <!--<img src="{% static 'home/images/dashboard_full_3.png' %}" class="img-fluid img"alt="">-->
		          <!--</div>-->
	          </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-section-2">
    	<div class="overlay"></div>
            <div class="container">
    		    <div class="row">
    			    <div class="col-md-12">
                        <h3 class="heading-white">
                        </h3>
    			    </div>
    		    </div>
    	    </div>
    </section>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">BREAT</h2>
              <p>PRÓXIMAMENTE LA FORMA MÁS FÁCIL DE OBTENER TU CRÉDITO PARA CONSTRUCCION</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
      {% endblock %}

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
  <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRequestLabel">Request a Quote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
              <input type="text" class="form-control" id="appointment_name" placeholder="Full Name">
            </div>
            <div class="form-group">
              <!-- <label for="appointment_email" class="text-black">Email</label> -->
              <input type="text" class="form-control" id="appointment_email" placeholder="Email">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_date" class="text-black">Date</label> -->
                  <input type="text" class="form-control" id="appointment_date" placeholder="Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_time" class="text-black">Time</label> -->
                  <input type="text" class="form-control" id="appointment_time" placeholder="Time">
                </div>
              </div>
            </div>


            <div class="form-group">
              <!-- <label for="appointment_message" class="text-black">Message</label> -->
              <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Get a Quote" class="btn btn-primary">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <script src="{%static 'home/js/jquery.min.js'%}"></script>
  <script src="{%static 'home/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'home/js/popper.min.js'%}"></script>
  <script src="{%static 'home/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'home/js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'home/js/jquery.waypoints.min.js'%}"></script>
  <script src="{%static 'home/js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'home/js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'home/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{%static 'home/js/aos.js'%}"></script>
  <script src="{%static 'home/js/jquery.animateNumber.min.js'%}"></script>
  <script src="{%static 'home/js/bootstrap-datepicker.js'%}"></script>
  <script src="{%static 'home/js/jquery.timepicker.min.js'%}"></script>
  <script src="{%static 'home/js/scrollax.min.js'%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{%static 'home/js/google-map.js'%}"></script>
  <script src="{%static 'home/js/main.js'%}"></script>



  <script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
  <script>
    var initBot = new LandbotPopup({
      index: 'https://landbot.io/u/H-290357-TEXYYIJYEJDGNC5L/index.html',
    });
  </script>
    
  </body>
</html>


.btn.btn-primary {
    background: #25DFD3;
    border: 1px solid #25DFD3;
    color: #000000;
}




